body{
    padding: 80px 0 0 0;
    margin: 0;
}
a{
    text-decoration: none;
    color: inherit;
}
h1, h2, h3, h4, h5 ,h6{
    margin: 0;
}
.dark-bg{
    background-color: #3F3C3D;
    width: 100%;
}
.container{
    width: 980px;
    margin: 0 auto;
}
/* media-screen max-width 2400px - if this is added outside
 media screen - the  displays are preserved in lower res*/
@media screen and (max-width: 2400px){
    .mobile-top-menu{
        display: none;
    }
    .top-menu {
        display: inline-block;
    }
    .left-content{
        width: 66%;
    }
    .right-content{
        width: 27.8%;
        display:inline-block;
    }
}
@media screen and (max-width: 980px){
    .container{
        width: 540px;
    }
    .left-content{
        width: 62%;
    }
    .right-content{
        width: 26.8%;
    }
}
@media screen and (max-width: 540px){
    .container{
        width: 320px;
    }
    .top-menu a, li{
        display: none;
    }
    .top-menu {
        display: none;
    }
    .mobile-top-menu{
        display: block;
        visibility: visible;
    }
    .left-content{
        width: 90%;
    }
    .right-content{
        display:none;
    }
}
/*
* ========
* HEADER
* ========
*/
.menu-container{
    position: fixed;
    top:0;
    left:0;
    right: 0;
}
.banner{
    font-size: 20px;
    padding: 15px;
    font-weight: bold;
    color: #f2ecee;
    cursor: pointer;
    width: 100px;
    display:inline-block;
}
.top-menu{
    list-style: none;
    float:right;
    padding: 0;
    color: #f2ecee;
}
.top-menu li{
    display:inline-block;
    position: relative;
}
.top-menu a{
    padding: 15px;
}
.top-menu > li + li:after {
    content: "";
    background: #ccc;
    position: absolute;
    left: 0;
    height: 100%;
    width: 1px;
}
.top-menu li:hover{
    color: #E45B0A;
}
.mobile-top-menu{
    float:right;
    color: #f2ecee;
    padding: 15px;
}
/*
* ========
* BLOG-CONTENT
* ========
*/
.content-container{
    border:1px solid #BCBCBC;
    margin-bottom: 25px;
}
.left-content{
    display: inline-block;
    /*width: 680px;*/
    /*width: 66%;*/
    min-height: 560px;
    padding: 15px;
    background-color: #F8F8F8;
    float:left;
}
.right-content{
    /*display: inline-block;*/
    /*width: 27%;*/
    /*width: 235px;*/
    min-height: 560px;
    padding: 15px;
    background-color: #F0F0F0;
}
/*
* ========
*
* ========
*/