
/*
* ========
* GENERAL
* ========
*/
body{
    padding: 80px 0 0 0;
    margin: 0;
    /*background: url(../assets/bg1.jpg);*/
    background-color: #E8E8E8;
}
a{
    text-decoration: none;
    color: inherit;
}
h1, h2, h3, h4, h5 ,h6{
    margin: 0;
}
.dark-bg{
    background-color: #222222;
    width: 100%;
}
.container{
    width: 980px;
    margin: 0 auto;
}
.relative{
    position: relative;
}
.clear-both{
    clear: both;
}
/*
* ========
* HEADER
* ========
*/
.menu-container{
    position: fixed;
    top:0;
    left:0;
    right: 0;
    border-bottom: 1px solid #f2ecee;
}
.banner{
    font-size: 20px;
    padding: 15px;
    font-weight: bold;
    color: #FA650B;
    cursor: pointer;
    width: 100px;
    display:inline-block;
    text-shadow: 0 0 0.2em #E45B0A;
}
.top-menu{
    list-style: none;
    padding: 0;
    color: #f2ecee;
    display: inline-block;
    z-index: 2;
    position: absolute;
    right: 0;
}
.top-menu > li{
    display:inline-block;
    position: relative;
}
.top-menu > li >a{
    padding: 17px 15px;
}
.top-menu > li + li:after {
    content: "";
    background: #ccc;
    position: absolute;
    left: 0;
    height: 100%;
    width: 1px;
}

.top-menu a:hover{
    color: #E45B0A;
    text-shadow: 0 0 0.2em #E45B0A;
    background-color: #2F2F2F;
}
.mobile-top-menu{
    float:right;
    color: #f2ecee;
    padding: 15px;
    display: none;
}
.active-menu-btn {
    color: #E45B0A;
    text-shadow: 0 0 0.2em #E45B0A;
    background-color: #2F2F2F;
}
/*
* ========
* HEADER - LOGIN
* ========
*/
.login-form{
    position: absolute;
    top: -140px;
    padding: 10px;
    width: 180px;
    background-color: #2F2F2F;
}
.login-input-fields{
    margin: 0 auto;
    display: block;
    width: 95%;
    margin-bottom: 5px;
}
.login-btn{
    margin: 0 auto;
    display: block;
    border: 1px #E45B0A;
    width: 99%;
    background-color: #E45B0A;
    color: #f2ecee;
    font-weight: bold;
}
.is-visible-login {
    top: 37px;
    right: 0;
    transition: top 0.3s;
}
.is-hidden-login {
    top: -140px;
    right: 0;
    transition: top 0.3s;
}
/*
* ========
* HEADER - KILLBOARD
* ========
*/
.killboard-menu{
    list-style: none;
    color: #f2ecee;
    display: block;
    position: absolute;
    right: 73px;
    top: -140px;
    padding: 10px;
    background-color: #2F2F2F;
    margin-left: 15px;
}
.is-visible-kb {
    top: 37px;
    right: 73px;
    transition: top 0.3s;
}
.is-hidden-kb {
    top: -140px;
    right: 73px;
    transition: top 0.3s;
}
/*
* ========
* BLOG-CONTENT
* ========
*/
.content-container{
    margin-bottom: 25px;
}
.left-content{
    border:1px solid #CACACA;
    display: inline-block;
    padding: 15px;
    background-color: #F8F8F8;
    float:left;
    margin: 0 25px 25px 0;
    width: 63.3%;
}
.right-content{
    float:right;
    border:1px solid #CACACA;
    padding: 15px;
    background-color: #F0F0F0;
    width: 26.8%;
    display:inline-block;
}
.right-expanded{
    width: 26.8%;
    transition: left 0.3s, 0.3s;
    cursor: pointer;
}
.right-contracted{
    width: 3.8%;
    transition: right 0.3s, 0.3s;
    cursor: pointer;
}
.left-expanded{
    width: 86.3%;
    transition: right 0.3s, 0.3s;
}
.left-contracted{
    width: 63.3%;
    transition: left 0.3s, 0.3s;
}
/*
* ========
* VIDEO PAGE
* ========
*/
.video-container{
    background-color: #F0F0F0;
    border:1px solid #CACACA;
    padding: 25px 0;
}
.video-expander {
    width: 40%;
    height: 90px;
    background-color: #E45B0A;
    color: #f2ecee;
    text-align: center;
    line-height: 90px;
    border-radius: 15px;
    cursor: pointer;
}
.corp-videos-contracted{
    float:left;
    margin-left: 75px;
}
.alliance-videos-contracted{
    float:right;
    margin-right: 75px;
}
.videos-open{
    width: 90%;
    margin: 0 auto;
}
.invisible {
    display: none;
}
/*
* ========
* LANDING
* ========
*/
.landing-body{
    background: url("../assets/evebg.jpg") no-repeat scroll 50% 50% / cover #000;
    color: #f2ecee;
    margin-top: -25px;
    position: absolute;
    top: 80px;
    right: 0;
    left: 0;
    bottom: 0;
    text-align: center;
}
.landing-description{
    margin: 25% auto 0 auto;
    width: 350px;
    background-color: rgba(9, 31, 30, 0.88);
    padding: 15px;
    border-width: 20px 3px 40px;
    border-style: solid;
    border-color: rgba(1, 13, 12, 0.78);
}
.landing-button-container{
    margin-top: -30px;
}
.landing-button-container input{
    cursor: pointer;
    border: 1px solid #676D6C;
    color: #DCE2E2;
    background-color: rgba(156,159,159, 0.6);
}
.landing-show-info{
    position: absolute;
    bottom: 45%;
    left: 2%;
}
.landing-prerequisites{
    position: absolute;
    bottom: 25%;
    right: 2%;
}
/* hidden */
.landing-descr-controls-container{
    display: none;
    margin-left: 357px;
    margin-top: -381px;
}
.landing-controls-close{
    line-height: 10px;
    height: 15px;
    cursor:pointer;
    font-size: 12px;
    border: 1px solid #676D6C;
    color: #DCE2E2;
    background-color: rgba(156,159,159, 0.6);
 }
.landing-controls-container{
    position: absolute;
    right: 3px;
    top: 96px;
}
/*
* ========
* RESOLUTIONS
* ========
*/
@media screen and (max-width: 1920px){
    .landing-show-info{
        left: 8%;
    }
    .landing-prerequisites{
        right: 8%;
    }
}
@media screen and (max-width: 1420px){
    .landing-show-info{
        left: 2%;
    }
    .landing-prerequisites{
        right: 2%;
    }
}
@media screen and (max-width: 980px){

    .container{
        width: 540px;
    }
    .left-content{
        width: 57%;
    }
    .right-content{
        width: 25.8%;
    }
}
@media screen and (max-width: 540px){
    .container{
        width: 320px;
    }
    .top-menu a, li{
        display: none;
    }
    .top-menu {
        display: none;
    }
    .mobile-top-menu{
        display: block;
        visibility: visible;
    }
    .left-content{
        width: 90%;
    }
    .right-content{
        display:none;
    }
}